.cart-resume {

    .MuiTypography-root.cart-resume__title.MuiTypography-body1.MuiTypography-alignCenter {
        font-weight: 900;
        color: #3e3e3e;
    }

    &__card {
        height: fit-content;
    }

    &__info {
        padding: 24px 12px;
    }

    &__button {
        width: 100%;
    }

    .MuiTypography-root.cart-resume__price.MuiTypography-body2.MuiTypography-colorTextSecondary {
        margin: 8px;
    }

    .MuiTypography-root.cart-resume__delivery.MuiTypography-body2.MuiTypography-colorTextSecondary {
        margin: 8px;
    }
}