.cart-item {
    padding: 24px 0;
    border-top: 1px solid #f2f2f2;

    &__image {
        max-width: 100%;
        max-height: 300px;
    }

    &__name {
        font-weight: 500;
        color: #333;
    }

    .MuiTypography-root.cart__description.MuiTypography-body1 {
        font-size: 14px;
        color: #3e3e3e;
    }

    &__price {
        justify-content: center;

        .MuiTypography-root {
            color: #3e3e3e;
        }
    }

    &__quantity {
        height: 50px;
        
        .MuiFormControl-root.MuiTextField-root.quantity-item-cart__input {
            width: calc(100% - 96px);
        }
    }
}