.product-card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;

    .MuiCardMedia-root.product-card__card-media {
        height: 140px;
        background-size: contain;
    }

    &__add {
        margin-top: auto;

        button {
            width: 100%;
        }
    }
}