.cart-item {
    padding: 24px 0;
    border-top: 1px solid #f2f2f2;

    &__link {
        text-decoration: none;
        color: #333;
    }

    &__image {
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
    }

    &__name {
        font-weight: 500;
        color: #333;
    }

    .MuiTypography-root.cart-item__description.MuiTypography-body1 {
        font-size: 14px;
        color: #3e3e3e;
    }

    &__price {
        .MuiTypography-root {
            color: #3e3e3e;
        }
    }

    &__quantity {
        height: 50px;
        
        .MuiFormControl-root.MuiTextField-root.quantity-item-cart__input {
            width: calc(100% - 96px);
        }
    }

    &__delete-button {
        .MuiTypography-root.MuiLink-root.MuiLink-underlineHover.MuiLink-button.MuiTypography-body2.MuiTypography-colorPrimary {
            color: #3e3e3e;
            display: flex;
            align-items: center;
        }
    }
}